:root {
    --primary-color: #fead34;
    /* orange (web)*/
    --secondary-color: #23395b;
    /* delft blue */
    --accent1-color: #F3F3F3;
    /* white smoke*/
    --accent2-color: #0F6B3F;
    /* castleton green */
    --accent3-color: #161923;
    /* rich black */
    --heading-font: "Fraunces", sans-serif;
    --body-font: "Public Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent3-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* Header with navigation links */

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 40px 1fr 4fr 5px;
    gap: 60px;
}

.logo {
    grid-column: 2;
    padding: 10px;
    width: 150px;
    height: auto;
    border: 1px solid var(--accent3-color);
    border-style: outset;
    border-radius: 4px;
    background-color: var(--secondary-color);
}

.navagation-links {
    display: flex;
    flex: 1 1 auto;
    flex-basis: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.navagation-links a {
    flex: stretch;
    padding: 15px;
    margin: 6px;
    border: .5px solid var(--accent3-color);
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-decoration: none;
    border-radius: 15px;
}

/* Index - Home Page CSS */

/* Home page hero img w/text */
.home-hero img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.home-hero h1 {
    position: absolute;
    top: 180px;
    margin-left: 3%;
    color: var(--accent1-color);
    text-shadow: 3px 3px 10px var(--accent3-color);
    font-size: 48px;
    font-style: italic;
}

.home-hero h2 {
    position: absolute;
    top: 580px;
    margin-left: 30rem;
    color: var(--accent1-color);
    text-shadow: 3px 3px 10px var(--accent3-color);
    font-size: 34px;
    font-style: italic;
}

/* Home call-to-action 1 */
.call-home {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}

.call-home h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 25px;
}

.call-home a {
    margin: 30px 0 4px 32%;
    border-radius: 10px;
    width: 15rem;
    height: 3rem;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 26px;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    box-shadow: 0 0 8px var(--secondary-color);
}

/* css grid w/ 2+ images and corresponding info */
.general-information {
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: repeat(2, 5rem 241px);
    flex: 1 1 auto;
    gap: 0;
    margin: 0;
    justify-items: center;
}

.family-img img,
.large-group-img img,
.solo-img img {
    width: 250px;
    height: 185px;   
}

.family-text h3,
.solo-text h3,
.large-group-text h3 {
    font-size: 20px;
    color: var(--accent1-color);
    margin-top: 4px;
}

.family-text,
.solo-text,
.large-group-text {
    justify-items: center; 
    color: var(--accent1-color);
    font-weight: 600;
    text-shadow: 0 0 1px var(--secondary-color);
}

.family-img,
.large-group-img {
     padding-top: 60px;
}

.family-img {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
   
    background-color: var(--accent2-color);
}

.family-text {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    background-color: var(--accent2-color);
    text-emphasis: var(--accent3-color);
    text-shadow: 0 0 1px var(--secondary-color);
}

.solo-text,
.solo-text h3 {
    grid-column: 3/4;
    grid-row: 3/5;
    background-color: var(--primary-color);
    color: var(--accent3-color);
    font-weight: 700;
   
}

.solo-img {
    grid-column: 3/4;
    grid-row: 1/3;
    width: 288px;
    padding-left: 17px;
    padding-top: 70px;
    background-color: var(--primary-color);
}

.large-group-img {
    grid-column: 1/2;
    grid-row: 3/5;   
    background-color: var(--secondary-color);
}

.large-group-text {
    grid-column: 2/3;
    grid-row: 3/5;
    background-color: var(--secondary-color);
}

.family-text p {
    background-color: var(--accent2-color);

}

/* Newsletter user input - name & email */

.news-call {
    display: flex;
    width: 100%;
    height: 21.6rem;
    padding: 10px;
    text-align: center;
    margin-bottom: 5rem;
}

#newsletter {
    width: 50%;
    height: 22rem;
    padding: 10px;
    text-align: center;
}

#newsletter h3 {
    margin-top: 3px;
    font-size: 25px;
    color: var(--accent3-color);
}

.sign-up {
    font-size: 17px;
    font-weight: 800;
    text-align: left;
    margin-top: 24px;
    padding: 2px;
    color: var(--accent3-color);
}

.sign-up input {
    width: 19rem;
    height: 2rem;
    font-size: 10px;
    margin-left: 5rem;
    border-width: 1.5px;
    border-style: outset;
    border-radius: 8px;
    box-shadow: 0 0 3px var(--secondary-color);
}

.call-home2 {
    background-color: var(--accent2-color);
    height: 22rem;
    width: 100%;
    margin-top: 55px;

}

.call-home2 h2,
a {
    margin-top: 4rem;
    text-align: center;

}

.call-home2 h2 {
    font-size: 34px;
    color: var(--accent1-color);
    text-shadow: 0 0 5px var(--secondary-color);
}

.call-home2 a {
    font-size: 18px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--accent3-color);
    font-weight: 700;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 8px var(--secondary-color);
}

/* About Us Page CSS */
/*Hero image */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 70px;
    width: 50%;
    padding: 16px;
    margin-left: 50%;
    text-align: center;
    border-radius: 35px;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    border: .5px solid var(--secondary-color);
}

.hero article {
    position: absolute;
    top: 355px;
    width: 45%;
    padding: 5px;
    margin-left: 55%;
    text-align: center;
    border-radius: 35px;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    border: .5px solid var(--secondary-color);
}

.hero article img {
    float: right;
    width: 140px;
    margin: 15px;
    border: #23395b;
    box-shadow: 0 0 4px #16253a;
}

/* Company history - short */
#history {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    align-items: center;
    justify-content: center;
}

#history h2 {
    grid-column: 1 /4;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
}

#history-p1,
#history img,
#history-p2 {
    grid-row: 2 / 3;

}

#history-p1 {
    grid-row: 2;
    grid-column: 1 / 2;
    padding: 0;

}

#history img {
    grid-column: 2/3;
    width: 200px;
    height: auto;
    margin: 10px;
    justify-self: center;
}

#history-p2 {
    grid-row: 2;
    grid-column: 3 / 4;
    padding: 0;
    margin: 0;
}

/* Trip options */
#adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex: 1 1 auto;
    width: 840px;
    justify-items: center;
    text-align: center;
}

#adventure h2 {
    grid-column: 1 / 6;
    align-content: center;
    justify-content: center;
}

#adventure img {
    height: 100px;
    width: 100px;
    margin: 10px;
    margin-bottom: 3px;
}

#adventure figcaption {
    width: 100px;
    padding: 0;
    justify-self: center;
    font-family: var(--body-font);
    font-size: smaller;
}

/* Footer with social media links */
footer {
    display: flex;
    flex: 1 1 auto;
    gap: 15px;
    align-items: center;
    justify-content: end;
    text-decoration: none;
}

.socialmedia img {
    height: 2rem;
    width: 2rem;
    padding: 5px;
    text-decoration: none;
}


/* Trips Page CSS */
/* Call-to-action section */
.action-call {
    position: relative;
    font-family: var(--heading-font);
}

.action-call img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 4px 2px lightgray;
}

.action-call h1,
.action-call h2,
.action-call h3,
.action-call article h3,
.action-call a {
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.action-call h1,
.action-call h2,
.action-call h3,
.action-call article h3 {
    background-color: var(--accent1-color);
    opacity: 0.8;
    box-shadow: 0 0 4px 2px var(--secondary-color);
}

.action-call h1 {
    position: absolute;
    top: 230px;
    width: 20rem;
    margin-left: 3.2rem;
    font-size: 44px;
}

.action-call h2 {
    position: absolute;
    top: 80px;
    width: 18rem;
    margin-left: .8rem;
    font-size: 34px;
}

.action-call h3 {
    position: absolute;
    top: 400px;
    width: 21rem;
    margin-left: .8rem;
    font-size: 28px;
}

.action-call article h3,
.action-call a {
    font-size: 30px;
}

.action-call article h3 {
    position: absolute;
    top: 350px;
    width: 15rem;
    margin-left: 63%;
}

.action-call article a {
    position: absolute;
    top: 417px;
    width: 11rem;
    margin-left: 67%;
    color: var(--accent1-color);
    text-decoration: none;
    background-color: var(--accent2-color);
    opacity: 0.95;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 6px 1px var(--secondary-color);
}

/* 3 Detailed Trips Section */
.trip-description h2,
.trip-information {
    font-size: 32px;
}

.experience {
    width: 100%;
    height: 56rem;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    grid-template-rows: 45px repeat(3, 15rem);
    flex: 1 1 auto;
    justify-items: left;
    text-align: center;
    margin-top: 30px;
    row-gap: 30px;
}

.experience h2 {
    grid-column: 1 / span 3;
    font-size: 39px;
}

.trip-image1 img,
.trip-image2 img,
.trip-image3 img {
    width: 260px;
    height: 220px;
}

.trip-paragraph1,
.trip-paragraph2,
.trip-paragraph3 {
    height: 220px;
    margin: 0;
    font-weight: 600;
}

.trip-image1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.trip-paragraph1 {
    grid-column: 2/4;
    grid-row: 2/3;
    padding: 32px;
    background-color: var(--accent2-color);
    color: #FFFFFF;
}

.trip-paragraph2 {
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 28px;
    background-color: var(--secondary-color);
    color: #FFFFFF;
}

.trip-image2 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.trip-image3 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.trip-paragraph3 {
    grid-column: 2/4;
    grid-row: 4/5;
    padding: 40px;
    background-color: var(--primary-color);
}

/* Trip table */
.trip-information {
    text-align: right;
    margin-right: 60px;
}

#trip-information {
    border-collapse: collapse;
    margin: 10px 0 25px 0;
    font-size: .9rem;
    min-width: 840px;
}

#trip-information th,
td {
    padding: 5px;
}

#trip-information thead tr {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
}

#trip-information tbody tr {
    border-bottom: 1px solid var(--secondary-color);
}

#trip-information tbody td {
    border-left: 1px solid var(--secondary-color);
}

#trip-information tbody td:first-child {
    border-left: none;
}

#trip-information tbody tr:last-of-type {
    border-bottom: 2px solid var(--accent2-color);
}

#trip-information tbody tr:nth-of-type(even) {
    background-color: #FFE5B6;
}

#trip-information tbody tr:nth-of-type(ODD) {
    background-color: #FFF9ED;
}

/* 2nd Call-to-Action */

.question {
    text-align: center;
    font-size: 28px;
    margin-top: 60px;
}

#find-out {
    margin-left: 300px;
    margin-top: 25px;
    margin-bottom: 40px;
    border-radius: 10px;
    width: 15rem;
    height: 3rem;
    padding: 5px;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

/* Contact Page CSS*/
/* Company Information */
.contact-heading {
    width: 840px;
    font-size: 33px;
    padding: 3rem 10rem 2rem 10rem;
    align-content: end;
}

.company-info {
    display: grid;
    margin: 0;
    gap: 0;
    padding: 0;
    height: 300px;
    flex: 1 1 auto;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 35px 200px;
    box-sizing: border-box;
}

address {
    margin-top: 20px;
    font-family: var(--body-font);
    font-weight: 600;
    font-size: large;
    font-style: normal;
    color: var(--accent3-color);
}

.info-types {
    grid-row-start: 2;
    padding-left: 50px;
}

.address-info {
    grid-row-start: 2;
}

.google-map {
    grid-area: 1/3/3/3;
    border: 1px solid var(--accent2-color);
}

iframe {
    height: 100%;
    width: 100%;
}

.company-info h2 {
    grid-row: 1;
}

/* Happy Employee Section with img and caption*/

.employees {
    font-size: 28px;
    background-color: var(--primary-color);
    width: 100%;
    height: 4rem;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.people {
    width: 840px;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
    justify-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.people img {
    display: block;
    width: 225px;
    height: 290px;
    justify-self: center;
    align-self: center;
}

.people figcaption {
    width: 225px;
    height: 300px;
    padding: 5px;
    background-color: var(--accent2-color);
    color: #FFFFFF;
}

/* Form section */

form {
    margin-top: 55px;
    margin-bottom: 30px;
    width: 840px;
    height: 400px;
    background-color: var(--primary-color);
}

.user-form {
    font-size: 28px;
    justify-self: center;
    padding: 2%;
}

text,
input,
textarea,
button {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    width: 100px;
    box-sizing: border-box;
}

.fullname label,
.user-input,
.checkbox input {
    font-weight: bolder;
    font-size: 18px;
    margin-left: 11rem;
    margin-bottom: .7rem;
    font-family: var(--body-font);
    color: var(--accent3-color);
}

input {
    width: 25rem;
    height: 1.7rem;
    font-size: 10px;
    margin-left: 3rem;
    padding: 5px;
    border-width: 1.5px;
    border-style: outset;
}

.fullname label {
    width: 30px;
    display: inline-block;
}

.user-input {
    margin-right: 11.5rem;
    margin-top: 1px;
    margin-bottom: 5px;
    vertical-align: middle;
}

legend {
    font-size: 16px;
}

.user-input [type="radio"] {
    width: 1.2rem;
    margin-left: 9.5rem;
    margin-right: .5rem;
    vertical-align: bottom;
    border-width: 5px;
    border-style: outset;
}

.user-input label {
    font-size: 15px;
    font-weight: 650;
}

textarea {
    width: 29.4rem;
    height: 5rem;
    margin-top: 7px;
    margin-left: 3px;
    padding-left: 3px;
    color: var(--secondary-color);
    border-width: 1.7px;
    border-radius: 4px;
    border-style: outset;
}

.checkbox {
    margin-left: -8.5rem;
    margin-top: 0;
    margin-bottom: 0;
    height: 25px;
}

.checkbox [type="checkbox"] {
    height: 19px;
    margin-right: -11rem;
    border-width: 9px;
    border-style: outset;
}

.checkbox label {
    font-size: 14px;
    font-weight: 600;
}

button {
    margin: 5px 23rem;
    border-radius: 5px;
}